<div class="container pt-3 text-center">
  <div class="row">
    <ng-container *ngFor="let month of months">
      <div class="col-lg-1 border">
        <div class="w-100 inter-title border-bottom">
          {{ month }}
        </div>
        <div class="w-100 inter-body">
          <div class="inter-body-content">
            <span class="inter-body-document">
              4 doc.
            </span>
            <div class="inter-break"></div>
            <span class="inter-body-total">
              15.000 €
            </span>
          </div>
        </div>
        <div class="w-100 inter-active">
        </div>
      </div>
    </ng-container>
  </div>
</div>