<div class="container pt-3 text-center no-selection">
  <div class="row">
    <ng-container *ngIf="dataJson$ | async as infos">
      <ng-container *ngFor="let info of infos | keyvalue">
        <ng-container *ngIf="info.key == 'mesi'">
          {{ setMaxValue(info.value) }}
          <ng-container *ngFor="let item of info.value; let i = index">
            <div class="col-lg-1 border" (mousedown)="startActive(months[i], item['documenti'], item['importo'],$event)"
              (mouseover)="setActive(months[i], item['documenti'], item['importo'], $event)">

              <div class="w-100 inter-title border-bottom">
                {{ months[i] }}
              </div>

              <div [id]="months[i]" class="w-100 inter-body">
                {{ setBackground(months[i], item["importo"]) }}
                <div class="inter-body-content">
                  <span class="inter-body-document">
                    {{ item["documenti"] }} doc.
                  </span>
                  <div class="inter-break"></div>
                  <span class="inter-body-total">
                    {{ getPrice(item["importo"]) }}
                  </span>
                </div>
              </div>

              <div [ngClass]="activeMonths.includes(months[i]) ? 'inter-active' : 'inter-inactive'" class="w-100"></div>
            </div>

          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <div class="col-12 text-center" style="height: 0px;">
      <ng-container *ngIf="selectActive">
        <span class="inter-info">
          Trascinare il mouse per selezionare più mesi
        </span>
      </ng-container>
    </div>

    <div class="col-12 text-left pl-0 mt-3">
      <span class="inter-summary">
        Totale documenti: <span style="color: grey"> {{ totalDocument }} </span>
      </span>
      <div class="inter-break"></div>
      <span class="inter-summary">
        Totale importo: <span style="color: grey"> {{ getPrice(totalAmount) }} </span>
      </span>
    </div>

  </div>
</div>